

.myHeader {
    background-color: gainsboro;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
}

.col {
    float: right;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}