

body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.header {
    padding: 30px;
    text-align: center;
    background-color: rgb(122, 89, 156);
}

h2 {
    color: rgb(122, 89, 156);
}

h5 {
    color: rgb(122, 165, 226);
}

.header h1 {
    font-size: 50px;
    color: white;
}

.frame {
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-top: 20px;
}

.frame img {
    background-color: #aaa;
    padding: 20px;
    margin-top: 10px;
}

* {
    box-sizing: border-box;
}