

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #c7c7c7;
}

tr:nth-child(odd) {
    background-color: #f7f7f7;
}

th:hover {
    background-color: red;
}